@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-height {
  height: calc(100vh - 4.5rem);
}

@media (min-width: 640px) {
  .custom-height-body {
    height: calc(100vh - 7.5rem);
  }
  .scroll-hidden {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .scroll-hidden::-webkit-scrollbar {
    height: 8px;
  }

  .scroll-hidden::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .scroll-hidden::-webkit-scrollbar-track {
    background: transparent;
  }
}

th,
td {
  padding: 0 0.5rem;
}
